
.FormClient{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: auto ;
  background: rgba(255, 255, 255, 0.34);
  border-radius: 25px;
  margin-left: 650px;
  padding-left: 3rem;
  padding-bottom: 2rem;
  border-radius: 25px;
   
}

.FormContainer{
  display: flex;
  margin: 100px auto;
}

.Logo{
  width: 308px;
  height: 61px;
  margin: 50px;
}

span{
  color:#FF0000
}

.FormDisplay{
  display: flex;
  width: 950px;
}

.FormField{
 height: 32px;
 background: rgba(98, 157, 217, 0.58);
 border-radius: 4px;
 outline: none;
 border: none;
 padding-left: 2rem;
 font-size: 20px ;
 width: 550px;
 }

.FormName{
  width: 1153px;
 
}

.FormDisplay2{
  display: flex;
  // width: 400px;
  border: none;
}

.FormDisplay2 .FormContent{
  width: 350px;
  justify-content: flex-end;
  
}
.FormDisplay2 .FormField{
  display: flex;
  // width: 435px;
  justify-content: flex-start;
  padding-left: 50px;
}

.FormDisplay2 .FormField1{
  width: 116px;
  height: 32px;
  background: rgba(98, 157, 217, 0.58);
  border-radius: 4px;
  outline: none;
  border: none;
 
  
}

.FormDisplay2 .FormField2{
  width: 300px;
  height: 32px;
  background: rgba(98, 157, 217, 0.58);
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 2rem;
  
}





.FormDisplay2 .Uf{
  margin-left: 10rem;
  padding-left: 5rem;
}





.FormContent{
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

#FormLabel{
font-size: 25px;
font-weight: bold;
line-height: 18px;
color: #098441;
width: 609px;
height: 47px;

}

.buttonSubimit{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#cadastrar{
  font-size: 16px;
  line-height: 19px;
  width: 188px;
  height: 50px;
  left: 914px;
  top: 835px;
  transition: background-color 0.3s ease-in-out;
}

#cadastrar:hover{
  filter: brightness(60%);
}
